!test/rules/**/node_modules
# created by grunt-ts for faster compiling
# ide
# vim swap files
*.swo
*.swp
.DS_Store
.circleci
.editorconfig
.eslintrc.json
.gitattributes
.github
.gitmodules
.npmrc
.nycrc
.project
.sass-cache
.settings
.travis.yml
.tscache/
.tslintrc
.vscode
/.idea
/.nyc_output
/build/
/coverage/
/docs/
/docs/site/
/scripts/
/scripts/*.js
/scripts/*.js.map
/src/
/test/
appveyor.yml
circle.yml
docs/_data/formatters.json
docs/_data/rules.json
docs/formatters/*/index.html
docs/rules/*/index.html
node_modules/
npm-debug.log
package-lock.json
tscommand*.txt
tslint.json
typings/.basedir.ts
yarn.lock
